<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 此xml在spring-boot-1.5.3.RELEASE.jar里 -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<File>/home/hfw-client/hfw_log/stdout.log</File> -->
		<File>${catalina.base}/log/stdout.log</File>
		<encoder>
			<!-- %date [%level] [%thread] %logger{60} [%file : %line] %msg%n -->
			<pattern>%date [%level]   %logger{60} [%file : %line] %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 添加.gz 历史日志会启用压缩 大大缩小日志文件所占空间 -->
			<fileNamePattern>${catalina.base}/log/stdout.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory><!-- 保留30天日志 -->
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
 		<appender-ref ref="FILE" />
	</root>
</configuration>